<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>:: Email ::</title>
</head>

<body style="background-color:#fbfbfb;">
    <table cellpadding="0" cellspacing="0" border="0" width="600" style="margin:0 auto; display:block; background-color:#ffffff;  font-family:'Arial Black', Gadget, sans-serif; border:1px solid #e0e0e0; border-top:none; ">
        <tr>
            <td valign="middle" align="left" style="padding:10px; background-color:#f2f2f2; height:80px; border-top:6px solid #48555d;  border-bottom:1px solid #e0e0e0; ">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="250">
                            <img src="<%= imageLogo %>" alt="WooTravel" width="161" height="58" />
                        </td>

                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="padding:20px 25px 25px 25px;">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="top" align="left">
                            <p style="font-family:Arial, Helvetica, sans-serif; color:#48555d; font-size:13px; font-weight:bold; margin:0 0 15px 0; padding:0;">Dear
                                <%= userName %>, </p>
                            <p style="font-family:Arial, Helvetica, sans-serif; color:#898888; font-size:14px; font-weight:normal; margin:0 0 15px 0; padding:0;">You’re one step away from <b>Exploring the World with Confidence</b> using the free WooTravel platform, built for travelers like you!</p>
                            <p style="font-family:Arial, Helvetica, sans-serif; color:#898888; font-size:14px; font-weight:normal; margin:0 0 15px 0; padding:0;">
                                Please
                                <a href="<%= verifyUrl %>">click here</a> to verify your WooTravel account.</p>
                            <p style="font-family:Arial, Helvetica, sans-serif; color:#898888; font-size:14px; font-weight:normal; margin:0 0 15px 0; padding:0;">
                                if the link doesn't work, enter
                                <a href="<%= verifyUrl %>">
                                    <%= verifyUrl %>
                                </a> into your browser to verify youraccount. You’ll be prompted to enter the correct details.</p>
                            <p style="font-family:Arial, Helvetica, sans-serif; color:#898888; font-size:14px; font-weight:normal; margin:0 0 15px 0; padding:0;">
                                The WooTravel team is eager to help. Please email WooTravel Support
                                <a href="mailTo:support@wootravel.com">support@wootravel.com</a> with any questions or concerns you may have, or if you simply need more information.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" style="padding-top:25px;">
                            <p style="font-family:Arial, Helvetica, sans-serif; color:#48555d; font-size:13px; line-height:16px; font-weight:bold; margin:0 0 15px 0; padding:0; ">
                                Sincerely,
                                <br> WooTravel Support </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="middle"="" style="background-color:#f4f4f4; border-top:1px solid #e0e0e0;">
                <p style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; margin:0; padding:5px 0; font-style:italic; color:#48555d; font-weight:bold; ">
                    Thank you for your business! </p>
            </td>
        </tr>
    </table>
</body>

</html>